
/*  */
:root{
  --main:#f00;

  /* For Box Shadow */
  --boxShadow: 0 5px 10px rgba(0,0,0,0.4);
  --boxShadowHover: 0 5px 10px rgba(0,0,0,0.8);

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  outline: none;
  border: none;
  transition: 0.1s ease-in;
}

*::selection{
  background: var(--main);
  color: #fff;
}